MONGO_PROTOCOL="mongodb://"
MONGO_HOST=127.0.0.1:27017
MONGO_PASSWORD=password$trong1@
MONGO_USER=admin
MONGO_DATABASE=camlinetherapydev
PORT=8084

JWT_SECRET=mysamplesecret
JWT_EXPIRATION_TIME=30m
OTP_EXPIRATION_TIME_MINUTE=5

MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER='kiel.dare@ethereal.email'
MAIL_PASSWORD=8nxWbeSTwAuEx9zGrX
MAIL_FROM=noreply@24hrtherapy.co.uk

CLOUDINARY_CLOUD_NAME='cloud-name'
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET='api-secret'

# Paypal Env
BRAINTREE_ACCESS_TOKEN=''
PAYPAL_ENVIRONMENT='sandbox'
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com/v1/
